<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <title>ToDoList</title>
  </head>
  <body>
@RenderBody()
@Html.Partial("Footer")
  </body>
</html>
