<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <title>@ViewData["Title"]</title>
  </head>
  <body>

    @if (IsSectionDefined("headerOption"))
    {
      @RenderSection("headerOption", required: false)
    }
    else
    {
      <h2>Default Header Text</h2>
    }
@RenderBody()
@Html.Partial("Footer")
  </body>
</html>
