@using ToDoList.Models;
@{
  Layout = "_Layout";
}
@* changed Model to accept a single category instead of a dictionary *@
<h3>Here are all the items in this category:</h3>

@* <ol>
@foreach (var item in @Model["items"])
{
  <li><a href='/categories/@Model["category"].GetId()/items/@item.GetId()'>@item.GetDescription()</a></li>
}
</ol> *@

<ol>
@foreach (Item item in @Model.GetItems())
{
  <li><a href='/categories/@Model.GetId()/items/@item.GetId()'>@item.GetDescription()</a></li>
}
</ol>

@* friday project delete *@
<form action="/categories/@Model.GetId()/delete-category" method="post">
    <button type="submit" name="button">Delete this category</button>
</form>


<p><a href='/categories/@Model.GetId()/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>
